  .change-password-card {
    margin: 7rem 3%;
    width: 85%;
  }
  .change-password-header {
    margin-left: 1rem;
  }
  .change-password-container {
    margin-left: 1rem;
  }
  .change-password-item {
    padding: 0.3rem;
    margin: 0.5rem;
  }
  .change-password-item-form {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .change-password-button {
    height: 2rem;
    margin: 2rem 35%;
    width: 40%;
  }
  .error {
    color: red;
  }
  label {
    font-weight: 700;
  }
  
  @media (min-width: 768px) {
    .change-password-title {
      margin: 3rem 20%;
    }
    .change-password-header {
      margin-left: 20%;
    }
    .change-password-card {
      width: 50%;
      margin: 7rem 20%;
    }
    .change-password-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .change-password-item-form {
      display: flex;
      flex-direction: column;
      width: 60%;
    }
    .change-password-button {
      height: 2rem;
      margin: 2rem 35%;
      width: 20%;
    }
  }
  